<mat-sidenav-container class="sb-container" hasBackdrop="false">
  <!-- The main content of the page is the map. -->
  <mat-sidenav-content role="main">
    <!-- Button for displaying the sidebar -->
    <button class="arrow_button" id="arrow_forward_button" mat-button (click)="sidenav.open()" matTooltip="open sidebar">
      <i class="material-icons" id="arrow_forward_ios">arrow_forward_ios</i>
    </button>
    <!-- The map component is embedded here. The "setNewFeature()" method of the sidebar is bound to 
      the "newFeature" property of the map component which is an EventEmitter. -->
    <app-map (newFeature)="setNewFeature()"></app-map>        
  </mat-sidenav-content>
  <!-- The HTML elements for the sidebar -->
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" role="region">
    <!-- Button for closing the sidebar -->
    <button class="close" id="close_button" mat-button (click)="sidenav.close()" matTooltip="close sidebar">
      <i class="material-icons">close</i>
    </button>
    <!-- Sidebar content -->    
    <div class="sb-content">
      <!-- <div> containing the welcome message;
        The <div> is shown if "showWelcomeMessage" is true.-->
      <div *ngIf="showWelcomeMessage">
        <p class="topContent" id="welcomeText">
          <span id="welcome">Welcome!</span><br>
          Click on a place on the map to view its occurrences in the Shahnameh text.
        </p>
      </div>
      <!-- <div> containing the list of occurrences;
        The <div> is shown if "showOccList$" is true.-->
      <div id="occ-list" *ngIf="showOccList$ | async">
        <mat-divider></mat-divider>
        <h3 id="title" class="topContent">
          {{(previewMap$| async)?.length}} Occurrence(s) of {{featureName$ | async}}
        </h3>
        <mat-action-list *ngFor="let preview of previewMap$ | async; let i = index" [attr.data-index]="i">
          <h5 matLine>Occurrence {{i+1}}</h5>
          <p dir="rtl" id="preview-p" class="sideContent" matLine [innerHtml]="preview">
            {{preview}}
          </p>
          <button id="show-more" mat-list-item matLine (click)="showMoreText(i)" matTooltip="show passage in text">Show more</button>
          <mat-divider id="list-divider" *ngIf="!last"></mat-divider>
        </mat-action-list>
      </div>
      <!-- <div> containing the complete text of the Shahnameh; 
        The <div> is shown if "showText$" is true. -->
      <div *ngIf="showText$ | async">
        <!-- Button for returning to the list of occurrences -->
        <button class="arrow_button" id="back_button" mat-button (click)="backToOccList()" matTooltip="back to previews">
          <i class="material-icons">arrow_back</i>
        </button>
        <p id="wholeText" class="sideContent topContent" [innerHtml]="taggedText$ | async | safeHtml">
          {{ taggedText$ | async }}
        </p>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
