<mat-sidenav-container class="sb-container" hasBackdrop="false">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" role="region">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Occurences">
          <div class="sb-content">
            <h2>Occurences</h2>
          </div>
        </mat-tab>
        <mat-tab label="Characters">
          <div class="sb-content">
            <h2>Characters</h2>
          </div>
        </mat-tab>
        <mat-tab label="Events">
          <div class="sb-content">
            <h2>Events</h2>
          </div>
        </mat-tab>
      </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    <app-map></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>
