.sb-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav {
    width: 34%;
}

.sb-content {
    margin-left: 15px;
}

.material-icons {
    font-size: 36px;
}

.arrow_button {
    cursor: pointer;
    position: absolute;    
    width: 40px;
}

#arrow_forward_button {
    z-index: 9;
    margin-top: 80px;
    margin-left: -10px;
}

#close_button {
    position: absolute;
    z-index: 10;
    margin-top: 4px;
    margin-left: 81%;
}

#title {
    margin-bottom: 20px;
}

.topContent {
    margin-top: 17px;
}

.sideContent {
    margin-right: 15px;
    text-align: center;
    white-space: pre-wrap;
    line-height: 15px;
}

#preview-p {
    margin-left: 30%;
}

#welcome {
    font-size: 28pt;
}

#welcomeText {
    margin-right: 15px;
    margin-left: 10px;
}
