.sb-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav {
    width: 34%;
}

.sb-content {
    margin-left: 15px;
}

.material-icons#arrow_back_ios {
    font-size: 36px;
    float: right;
    margin-bottom: 15px;
}

.material-icons#arrow_forward_ios {
    font-size: 36px;
}