/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "bootstrap/dist/css/bootstrap.min.css";

.mat-tab-label {
  min-width: 140px !important;
}

#map
  > div
  > div.ol-overlaycontainer-stopevent
  > div.ol-scale-line.ol-unselectable {
  margin-left: 85%;
  margin-bottom: 15px;
}

#map 
> div 
> div.ol-overlaycontainer-stopevent 
> div.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
  margin-bottom: 2px;
}

ngb-popover-window {
  width: 170px;
}

#close_button_popup > span > i {
  font-size: 15px;
}

#close_button_popup {
  margin-left: 73%;
  height: 20px;
  margin-top: -8px;  
}

#close_button_popup 
> div.mat-button-focus-overlay,
#close_button 
> div.mat-button-focus-overlay,
#arrow_forward_button
> div.mat-button-focus-overlay, 
#close_button_popup 
> div.mat-button-ripple.mat-ripple,
#close_button 
> div.mat-button-ripple.mat-ripple,
#arrow_forward_button
> div.mat-button-ripple.mat-ripple {
  display: none;
}