/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "bootstrap/dist/css/bootstrap.min.css";

.mat-tab-label {
  min-width: 140px !important;
}

#map
  > div
  > div.ol-overlaycontainer-stopevent
  > div.ol-scale-line.ol-unselectable {
  margin-left: 85%;
  margin-bottom: 15px;
}

#map 
> div 
> div.ol-overlaycontainer-stopevent 
> div.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
  margin-bottom: 2px;
}

ngb-popover-window {
  width: 120px;
}